@model IEnumerable<ProjetoSegundoSemestre.Models.Consulta>

@{
    ViewData["Title"] = "Index";
}

@*<div class="header-primary ">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/onmedical_logo.png" />
            </a>

    <div class="login-home">
        <a class="secondary-button" asp-area="" asp-controller="Home" asp-action="Index">SAIR</a>
    </div>

        </div>*@


 





    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="cabecalho d-flex justify-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/onMedical_logo.png" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Medico"))
                            {
                                <li class="nav-item">
                                <a class="secondary-button" asp-area="" asp-controller="Medicos" asp-action="Edit" asp-route-id="@User.Claims.Where(x=>x.Type == "Id").Select(x=>x.Value).FirstOrDefault()">MEUS DADOS</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                <a class="secondary-button" asp-area="" asp-controller="Pacientes" asp-action="Edit" asp-route-id="@User.Claims.Where(x=>x.Type == "Id").Select(x=>x.Value).FirstOrDefault()">MEUS DADOS</a>
                                </li>
                            }



                        @*<li class="nav-item">
                                Olá, @User.Identity.Name
                            </li>*@

                            @if (User.Claims.Any(x => x.Value == "Medico"))
                            {
                            
                                <li class="nav-item">
                                <a class="secondary-button" asp-area="" asp-controller="Medicos" asp-action="Logout">SAIR</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                <a class="secondary-button" asp-area="" asp-controller="Pacientes" asp-action="Logout">SAIR</a>
                                </li>

                            }

                        }
                        else
                        {
                            <li class="nav-item">
                            <a class="secondary-button" asp-area="" asp-controller="Medicos" asp-action="Login">Medicos</a>
                            <a class="secondary-button" asp-area="" asp-controller="Pacientes" asp-action="Login">Pacientes</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    <div class="cabecalho-login row d-flex flex-column align-items-center">
        <h6>BEM-VINDOS AO ONMEDICAL</h6>
    </div>

    <div class=" cabecalho-login row d-flex flex-column align-items-center">
        <h1> Minhas consultas do dia</h1>
    </div>

    </header>



@*<h1>Index</h1>*@

@*<p>
    <a asp-action="Create">Criar novo</a>
</p>*@

<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Inicio da Consulta
            </th>
            <th>
                Fim da Consulta
            </th>
            <th></th>
        </tr>
    </thead>*@


    <tbody>
        @foreach (var item in Model)
        {
            @if(User.Claims.Any(x => x.Value == "Paciente"))
            {
                @if (item.PacienteId.ToString() == User.Claims.Where(x => x.Type == "Id").Select(x => x.Value).FirstOrDefault().ToString())
                {
                    <tr>
                        <td class="address-medical">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="address-medical">
                            @Html.DisplayFor(modelItem => item.Agenda.DataHoraInicioConsulta)
                        </td>
                        <td class="address-medical">
                            @Html.DisplayFor(modelItem => item.Agenda.DataHoraFimConsultaConsulta)
                        </td>
                        <td>
                            <a class="secondary-button" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                    

                }
            }
            else
            {
                if (item.Agenda.MedicoId == new Guid(User.Claims.Where(x => x.Type == "Id").Select(x => x.Value).FirstOrDefault().ToString()))
        {
                        <tr>
                        <td class="schedule-info">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="schedule-info">
                            @Html.DisplayFor(modelItem => item.Agenda.DataHoraInicioConsulta)
                        </td>
                        <td class="schedule-info">
                            @Html.DisplayFor(modelItem => item.Agenda.DataHoraFimConsultaConsulta)
                        </td>
                        <td class="schedule-info">
                            @Html.DisplayFor(modelItem => item.Paciente.Nome)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>*@

                            <a class="btn btn-primary" asp-action="Create" asp-route-id="@item.Id">MARCAR</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">DESMARCAR</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>