@model IEnumerable<ProjetoSegundoSemestre.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraInicioConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraFimConsultaConsulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraInicioConsulta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraFimConsultaConsulta)
                </td>
                <td>
                    <form id="MarcarConsulta" asp-controller="Consultas" asp-action="Create" asp-route-id="@item.Id" value="@item.Id" method="post" role="form">
                        <div>
                            <button type="submit" name="culture" value="@item.Id">
                                Agendar
                            </button>
                        </div>
                    </form>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
