@model IEnumerable<ProjetoSegundoSemestre.Models.Agenda>

@{
    ViewData["Title"] = "Agendar consulta";
}

@await Component.InvokeAsync("Menu")

<div class="patient-index">
<h6>Bem vindo ao onMedical Paciente</h6>
<h4>Agendar Consulta</h4>
</div>

<form asp-action="Index" class="patient-content"  method="GET" >
    <div class="form-group col-md-6">
        <label for="Nome" class="control-label">Nome do Médico</label>
        <input id="Nome" name="nome" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <label for="Especialidade" class="control-label">Especialidade</label>
        <select id="Especialidade" name="especialidade" asp-items="Html.GetEnumSelectList<Especialidade>()" class="form-control">
            <option value="">Selecione...</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="DataHoraFimConsultaConsulta" class="control-label">Data</label>
        <input id="DataHoraFimConsultaConsulta" name="data" type="date" class="form-control" />
    </div>
    <div class="form-group col-md-6 div-btn">
        <input type="submit" value="PESQUISAR" class="login-btn btn btn-primary" />
    </div>
</form>

   
    <div class="schedule-container">
        @foreach (var item in Model)
        {
            @if (item.StatusAgenda == StatusAgenda.Vago)
            {
            <div class="appointmentCard">
                    <div class="content-schedule" >
                        <div>
                        <img src="~/img/check.png" />
                        </div>
                        <div class="title-patient-time">
                            @Html.DisplayFor(modelItem => item.DataHoraInicioConsulta)
                        </div>
                    <div class="title-patient-time">
                           @Html.DisplayFor(modelItem => item.Medico.Especialidade)
                        </div>
                         <h4 class="title-patient-medical">
                             @Html.DisplayFor(modelItem => item.Medico.Nome)

                        </h4>
                    <div class="address-patient">
                           @Html.DisplayFor(modelItem => item.Medico.Endereco)

                        </div>
                    </div>
                    <div>
                            <form id="MarcarConsulta" asp-controller="Consultas" asp-action="Create" asp-route-id="@item.Id" value="@item.Id" method="post" role="form">
                                <div>
                            <button class="toschedule" type="submit" name="culture" value="@item.Id">
                                        Agendar
                                    </button>
                                </div>
                            </form>
                        </div>
                   
                </div>
            }
        }
    </div>
